.desktop{
position: relative;
width: 794px;
height: 924px;
margin-top: 80em;
/* margin-left: 1000px; */
background: rgba(255, 255, 255, 1);
}

.desktop h1{
width: 246px;
height: 36px;
margin-top: 167px;
margin-left: 100px;
font-family: Space Grotesk;
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
}
.form label{
    width: 400px;
    text-align: left;
}
.form input{
    width: 400px;
    margin-left: 100px;
}
.phone{
    width: 400px;
    margin-left: 100px;
}
.button{
    width: 400px;
    height: 40px;
    margin-top: 80px;
    /* left: 194px; */
    border-radius: 4px;
    border: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border: 1px solid rgba(40, 74, 94, 1);
    background: rgba(40, 74, 94, 1);
    color: rgba(255, 255, 255, 1);
}
/* .stroke{ text-align: center; width: 452.92236000128577px; height: 841.5461129147022px; top: 567.868896484375px; left: -46.2681884765625px; border: 100px; opacity: 0.05000000074505806px; transform: rotate(18.92deg); background: linear-gradient(135deg, #4E7577 0%, #65D5FC 100%, #23445B 100%); border: 100px solid; border-image-source: linear-gradient(135deg, #4E7577 0%, #65D5FC 100%, #23445B 100%); -webkit-transform: rotate(18.92deg); -moz-transform: rotate(18.92deg); -ms-transform: rotate(18.92deg); -o-transform: rotate(18.92deg);
} */