.greatSince {
    width: 1200px;
    height: 436px;
    margin-top: 146px;
    margin-left: 0px;
}

.geo {
    position: relative;
}

.rectangle26 {
    position: absolute;
    width: 178px;
    height: 178px;
    top: 58px;
    left: 750px;
    background: rgba(239, 241, 255, 1);
    border-radius: 0px 0px 100px 0px;
    -webkit-border-radius: 0px 0px 100px 0px;
    -moz-border-radius: 0px 0px 100px 0px;
    -ms-border-radius: 0px 0px 100px 0px;
    -o-border-radius: 0px 0px 100px 0px;
}

.ellipse86 {
    position: absolute;
    width: 129px;
    height: 129px;
    top: 325px;
    left: 491px;
    border-radius: 100%;
    background: rgba(255, 245, 219, 1);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.unsplash {
    position: relative;
    width: 550px;
    height: 372px;
    margin-top: 0px;
    left: 0px;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    background: rgba(196, 196, 196, 1);
    box-shadow: 5px 2px 3px 0px rgba(0, 0, 0, 0.15);
}

.unsplash .playBtn img {
    position: relative;
    width: 78px;
    height: 78px;
    margin-top: -555px;
    margin-left: 73px;
}

.container .containt {
    position: relative;
    width: 468px;
    height: 98px;
    top: -287px;
    left: 815px;

}

.containt h1 {
    font-family: Averta Demo PE Cutted Demo;
    font-size: 40px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);

}

.containt p {
    font-family: Averta Demo PE Cutted Demo;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(86, 86, 86, 1);
}
@media screen and (max-width: 3100px) {
    .container .containt {
        left: 750px;
    }
    .rectangle26 {
        left: 720px;
    }
 }